<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hhxfight.recolorer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.main.view.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yanzhenjie.album.AlbumActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="图库"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".Activity.setting.SettingActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".Activity.gray.view.GrayscaleActivity"
            android:label="@string/title_gray"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <activity
            android:name=".Activity.color.view.ColorTransformActivity"
            android:label="@string/title_gray"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <activity
            android:name=".Activity.manifold.view.ManifoldActivity"
            android:label="@string/title_gray"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <activity
            android:name=".Activity.mywork.MyWorkActivity"
            android:label="@string/title_gray"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

    </application>

</manifest>